.App {
  text-align: center;
}

.align-dropdown-center {
  display: flex;
  justify-self: end;
  flex-direction: column;
  align-items: center;
}

.creator-row {
  align-items: center;
}

.users-title {
  text-align: end;
}

.assignee-row {
  text-align: end;
}

.project-description {
  text-align: left;
  width: 450px;
  word-wrap: break-word;
  margin-left: 2cm;
}

.project-devs {
  align-items: flex-end;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}